@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');



body{
  background-color: #2F2C4F;
  color: white;
}

a{
  text-decoration: none;
  color: inherit;
}

/* .main-container{
  background-color: #3A3A3A;
  width: 1290px;
  margin: auto;
  padding-left: 50px; 
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */